.modal-form {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: baseline;
    gap: 24px;
}

.form-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    color: #101828;
}

.form-p {
    margin-top: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #475467;
}

.inputs-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 14px;
}

.input-wrapper {
    position: relative;
}

.form-field {
    background-color: #f7f7f7;
    border-radius: 10px;
    padding: 18px;
    width: 400px;
    height: 56px;
    box-sizing: border-box;
}

.form-text-area{
    background-color: #f7f7f7;
    border-radius: 10px;
    padding: 18px;
    width: 400px;
    height: 114px;
    box-sizing: border-box;
    resize: none;
    border: none;
    outline: none;
}

.error-input {
    border-color: red;
    background-color: #ffe6e6;
}

.error-message {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: red;
    font-size: 12px;
    pointer-events: none; 
    background: transparent;
    z-index: 1;
}

.submit-button {
    border-radius: 200px;
    padding: 16px 60px;
    width: 160px;
    height: 56px;
    background: #e44848;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: -0.01em;
    color: #fff;
    border: none;
    cursor: pointer;
}

.submit-button:hover {
    background: #d84343;
}
