.container{
    display: flex;
    width: 1200px;
    height: 100vh;
    flex-direction: column ;
    align-Items: center;
    justify-content: baseline;
    margin: 0 auto;
}

.bestWrap{
    background: #ffc531;
    font-size: 24px;
    color: #e44848;
}

.titleWrapper{
    width: 100%;
    background: #e44848;
    white-space: nowrap;

}

.title{
    font-weight: 600;
    font-size: 100px;
    text-align: center;
    color: white;
    height: 120px;
}
.span{
    text-decoration: none;
    color: #ffc531;
}
.p{
    color: white;
    font-size: 24px;
}
.link{
    color: #ffc531;
    font-size: 30px;
}

.bigLink{
    text-decoration: none;
}

.bigImageWrap{
    background-image: url("../../assets/cover-1.jpg");
    width: 100%;
    height: 100%;
    background-size: cover;
}
.h2{
    color: white;
    font-size: 32px;
    font-weight: 600;
}

